.container {
    margin: 24px;
    display: flex;
    flex-direction: column;
}

#mathpreview {
    align-self: center;
    font-size: 50px;
}
#canvaspreview {
    align-self: center;
    align-items: center;
}

.katex-display {
    margin-top: auto;
    margin-bottom: auto;
}